<h2>Show answer</h2>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @answer.content %>
  </li>

  <li>
    <strong>Is correct:</strong>
    <%= @answer.is_correct %>
  </li>

  <li>
    <strong>Question:</strong>
    <%= @answer.question_id %>
  </li>

</ul>

<%= link "Edit", to: admin_question_answer_path(@conn, :edit, @answer.question_id, @answer) %>
<%= link "Back", to: admin_question_answer_path(@conn, :index, @answer.question_id) %>
