<h2>New question</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_question_path(@conn, :create) %>

<%= link "Back", to: admin_question_path(@conn, :index) %>
