<h2>Show question</h2>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @question.content %>
  </li>

</ul>

<%= link "View Answers", to: admin_question_answer_path(@conn, :index, @question) %>
<%= link "Edit", to: admin_question_path(@conn, :edit, @question) %>
<%= link "Back", to: admin_question_path(@conn, :index) %>
